@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    font-family: 'VT323', monospace;
    background-color: #98A8F8;
    font-family: 'VT323', monospace;
    background: linear-gradient(rgba(0,0,0,0.5) 100%, rgba(0,0,0,0.5) 100%), url("./assets/alfea.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#seleccionar-mascota {
    margin-top: -5px;

}

.title {
    color: palevioletred;
    font-size: 200px;
    letter-spacing: 4px;
    margin-top: 100px;
    margin-bottom: 70px;
    text-shadow: 4px 0px 1px #07689f;
    line-height: 70px;
    padding: 10px;
    text-align: center;
}

.two {
    
}

.subtitle {
    color: #CDFCF6;
    font-size: 100px;
    letter-spacing: 4px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-shadow: 4px 0px 1px #07689f;
    line-height: 100px;
    padding: 10px;
    text-align: center;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tarjeta-de-mokepon{
    
    background: #BCCEF8;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    color: palevioletred;
    font-size: 23px;
    flex-direction: column;
    cursor:pointer;/*to have a hand over the card instead of the standar mouse one*/
    align-items: center;
    justify-content: center;
}

.tarjeta-de-mokepon img{
    margin-top: 25px;
    height:160px;
}

#boton-mascota {
    display:flex;
    margin: 10px auto 8px;
    background: rgb(236, 240, 236);
    color: rgb(9, 9, 9);
    height: 55px;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-family: 'VT323', monospace;
    margin-top: 40px;
}

input{
    display: none;
}

input:checked + label {
    background-color: #570530;
    color: white;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}

.attack {
    background-color:#BCCEF8;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    color: white;
    font-family: 'VT323', monospace;
}

#messages {
    width: 150px;
    background-color: #BCCEF8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'VT323', monospace;
}

#boton-reiniciar {
    border: none;
    color: #CDFCF6;
    background-color: #98A8F8;
    font-family: 'VT323', monospace;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
  }

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #see-map {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .other {
    display: flex;
  flex-direction: column;
  margin-top:20px;
  }

  .directions {
    display: grid;
    margin: 10px auto 8px;
    background: rgb(236, 240, 236);
    color: rgb(9, 9, 9);
    height: 40px;
    width: 80px;
    border-radius: 30px;
    font-size: 20px;
    align-items: center;
    cursor:pointer;
    font-family: 'VT323', monospace;
    margin: 10px
  }

  @media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
      flex-direction: column;
    }
  }