@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');


body {
    font-family: 'Nunito', sans-serif;
    background-color: #98A8F8;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5) 100%, rgba(0,0,0,0.5) 100%), url("./assets/alfea.png");
    background-size: cover;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: palevioletred;
    font-size: 50px;
}

.subtitulo {
    color: #CDFCF6;
    font-size: 30px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 112px;
    height: 100px;
    background: #BCCEF8;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: palevioletred;
}

.tarjeta-de-mokepon-bloom{
    width: 125px;
    height: 100px;
    background: #BCCEF8;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: palevioletred;
}

.tarjeta-de-mokepon img{
    width: 90px;
}

#boton-mascota {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.attack {
    background-color:#BCCEF8;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#messages {
    width: 150px;
    background-color: #BCCEF8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

#boton-reiniciar {
    border: none;
    color: #CDFCF6;
    background-color: #98A8F8;
    font-family: 'Nunito', sans-serif;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
  }

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
      flex-direction: column;
    }
  }